extends ../layouts/default.pug
block variables 
  - var title = 'Главная страница'

block content 
  include ../components/cards-list/card-list
    block cards
      include ../components/card/card
      +card('/images/card.svg', 'Карточка 1', 'Текст карточки 1')
      +card('/images/card.svg', 'Карточка 2', 'Текст карточки 2')
      +card('/images/card.svg', 'Карточка 3', 'Текст карточки 3')

